<div class="row" style="display:none;">
<div class="container col-md-12">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
  </mat-form-field>
  <div class="mat-elevation-z8">
  <table mat-table [(dataSource)]="dataSource">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="password">
        <th mat-header-cell *matHeaderCellDef> password </th>
        <td mat-cell *matCellDef="let element"> {{element.password}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element"><div class="example-button-row">
              <button mat-flat-button color="primary" style="margin-right:10px;font-size: 12px;line-height: 24px;padding: 0 8px;" (click) = 'editProfile(element)'>Edit</button>
              <button mat-flat-button color="warn" style="margin-right:10px;font-size: 12px;line-height: 24px;padding: 0 8px;" (click) = 'deleteProfile(element)'>Delete</button>
          </div> </td>
        </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
</div>

<div class="row" style="margin: 0 !important;">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" *ngFor= "let column of displayedColumns">{{column}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let object of serverElement">
          <td>{{object.name}}</td>
          <td>{{object.email}}</td>
          <td>{{object.password}}</td>
          <td><div class="example-button-row">
            <button mat-flat-button color="primary" style="margin-right:10px;font-size: 12px;line-height: 24px;padding: 0 8px;" (click) = 'editProfile(object)'>Edit</button>
            <button mat-flat-button color="warn" style="margin-right:10px;font-size: 12px;line-height: 24px;padding: 0 8px;" (click) = 'deleteProfile(object)'>Delete</button>
        </div></td>
        </tr>
      </tbody>
    </table>
</div>