<div class="example-container">
  <form class="example-form" #form= ngForm (ngSubmit) = 'onSubmit(form)' novalidate method="post">
    <mat-form-field class="example-full-width">
      <mat-label>Enter your Name</mat-label>
      <input matInput placeholder="Name" name="name" id="name" [(ngModel)] = "name"  value="">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" name="email" id="email"  [(ngModel)] = "Email"  required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput name="password" [type]="hide ? 'password' : 'text'" name="password" id="password" [(ngModel)] = "password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
        <div class="example-button-row">
          <button type="submit" mat-raised-button color="primary">Submit</button>
        </div>
    </form>
    <div class="example-button-row">
        <button mat-raised-button color="primary" (click) = 'navigateToList()'>navigate</button>
    </div>
  </div>
  
